#content{
	width: 100%;
	height: 100%;
	margin-top: 5%;
}

#categorySection1,
#categorySection2,
#categorySection3,
#categorySection4,
#categorySection5,
#categorySection6,
#categorySection7,
#categorySection8 {
	width: 100%;
	height: 100%;
	min-height: 400px;
} 
/* 주성  */

div a:HOVER {
	text-decoration: none;
}
div a:link {
	text-decoration: none;
}
div a:visited {
	text-decoration: none;
}

.category-selected-list th {
	height: 100%;
	max-height: 100px;
	min-height: 50px;
	background-color: #16499a;
	border: 1px solid #f2f2f2;
	color: white;
	text-align: center;
	border-left-width: 1em;
	border-right-width: 1em;
	padding: 1em;
}

#insertRcmd {
	width: 70%;
	height: 120%;
	text-align: center;
	color: #333333;
	font-size: 100%;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline-style: none;
}

#insertRcmd:ACTIVE {
	color:white;
	background-color:  #333333; 
}


#categoryNm,
#categoryNm1,
#categoryNm2,
#categoryNm3,
#categoryNm4,
#categoryNm5,
#categoryNm6,
#categoryNm7,
#categoryNm8 {
	width: 100%;
	height: 10%;
	margin-top: 1%;
	padding-top: 2%;
	padding-bottom: 4%;
	background-color: #f2f2f2;
	font-size: 130%;
	box-shadow: 2px 2px 2px #888888;
	text-align: center;
}

#categoryLife,
#categoryTravle,
#categorySport,
#categoryEducation,
#categoryCulture,
#categoryInstitution,
#categoryTransfer,
#categoryFood {
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 15%;
	min-height: 80px;
	text-align: center;
	font-size: 150%;
	color: #f2f2f2;
	background-color: #333333;
	padding-top: 3%;
	padding-bottom: 2%;
	border-radius: 5px;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

#categoryFood:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/RoundIcons-Free-Set-57.png");
	background-repeat: no-repeat;
	background-position: center center;
	
}
#categoryLife:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/RoundIcons-Free-Set-52.png");
	background-repeat: no-repeat;
	background-position: center center;
	
}
#categoryTravle:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/RoundIcons-Free-Set-38.png");
	background-repeat: no-repeat;
	background-position: center center;
	
}
#categorySport:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/RoundIcons-Free-Set-18.png");
	background-repeat: no-repeat;
	background-position: center center;
	
}
#categoryEducation:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/RoundIcons-Free-Set-54.png");
	background-repeat: no-repeat;
	background-position: center center;
	
}
#categoryCulture:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/RoundIcons-Free-Set-07.png");
	background-repeat: no-repeat;
	background-position: center center;
	
}
#categoryInstitution:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/RoundIcons-Free-Set-55.png");
	background-repeat: no-repeat;
	background-position: center center;
	
}
#categoryTransfer:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/RoundIcons-Free-Set-22.png");
	background-repeat: no-repeat;
	background-position: center center;
	
}

/* #categoryFood2 */
#categoryFood2-1, 
#categoryFood2-2, 
#categoryFood2-3, 
#categoryFood2-4, 
#categoryFood2-5, 
#categoryFood2-6, 
#categoryFood2-7, 
#categoryFood2-8, 
#categoryFood2-9 {
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 15%;
	min-height: 80px;
	text-align: center;
	font-size: 150%;
	color: #f2f2f2;
	background-color: #dc4c40;
	padding-top: 3%;
	padding-bottom: 2%;
	border-radius: 5px;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

#categoryFood2-1:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryFood/plate.png");
	background-repeat: no-repeat;
	background-position: center center;
}


#categoryFood2-2:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryFood/gimbob.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categoryFood2-3:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryFood/noodle.png");
	background-repeat: no-repeat;
	background-position: center center;
} 
#categoryFood2-4:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryFood/icecream.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categoryFood2-5:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryFood/cake.png");
	background-repeat: no-repeat;
	background-position: center center;
} 
#categoryFood2-6:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryFood/beer.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categoryFood2-7:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryFood/chicken.png");
	background-repeat: no-repeat;
	background-position: center center;
} 
#categoryFood2-8:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryFood/pizza.png");
	background-repeat: no-repeat;
	background-position: center center;
} 
#categoryFood2-9:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryFood/sushi.png");
	background-repeat: no-repeat;
	background-position: center center;
}

/* categoryLife2 */
#categoryLife2-1,
#categoryLife2-2,
#categoryLife2-3,
#categoryLife2-4,
#categoryLife2-5 {
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 15%;
	min-height: 80px;
	text-align: center;
	font-size: 150%;
	color: #f2f2f2;
	background-color: #e3c800;
	padding-top: 3%;
	padding-bottom: 2%;
	border-radius: 5px;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

#categoryLife2-1:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryLife/man415.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categoryLife2-2:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryLife/girl43.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categoryLife2-3:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryLife/hair9.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categoryLife2-4:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryLife/tshirt18.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categoryLife2-5:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryLife/musical181.png");
	background-repeat: no-repeat;
	background-position: center center;
}

/* #categoryTravle2 */

#categoryTravle2-1,
#categoryTravle2-2 {
	background-color: #84b74f;
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 15%;
	min-height: 80px;
	text-align: center;
	font-size: 150%;
	color: #f2f2f2;
	padding-top: 3%;
	padding-bottom: 2%;
	border-radius: 5px;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

#categoryTravle2-1:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryTravle/accomodation1.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#categoryTravle2-2:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryTravle/london.png");
	background-repeat: no-repeat;
	background-position: center center;
}

/* #categorySport2 */

#categorySport2-1,
#categorySport2-2,
#categorySport2-3,
#categorySport2-4,
#categorySport2-5,
#categorySport2-6,
#categorySport2-7,
#categorySport2-8 {
	background-color: #d80073;
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 15%;
	min-height: 80px;
	text-align: center;
	font-size: 150%;
	color: #f2f2f2;
	padding-top: 3%;
	padding-bottom: 2%;
	border-radius: 5px;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

#categorySport2-1:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categorySport/baseball6.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categorySport2-2:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categorySport/sprint.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categorySport2-3:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categorySport/speed7.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categorySport2-4:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categorySport/silhouette66.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categorySport2-5:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categorySport/bowling3.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categorySport2-6:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categorySport/game75.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categorySport2-7:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categorySport/ball72.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categorySport2-8:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categorySport/climb.png");
	background-repeat: no-repeat;
	background-position: center center;
}

/* #categoryCulture2 */
#categoryCulture2-1,
#categoryCulture2-2 {
	background-color: #00aba9;
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 15%;
	min-height: 80px;
	text-align: center;
	font-size: 150%;
	color: #f2f2f2;
	padding-top: 3%;
	padding-bottom: 2%;
	border-radius: 5px;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}
#categoryCulture2-1:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryCulture/monument2.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#categoryCulture2-2:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryCulture/popcorn6.png");
	background-repeat: no-repeat;
	background-position: center center;
}

/* #categoryEducation2 */
#categoryEducation2-1,
#categoryEducation2-2 {
	background-color: #4b0096;
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 15%;
	min-height: 80px;
	text-align: center;
	font-size: 150%;
	color: #f2f2f2;
	padding-top: 3%;
	padding-bottom: 2%;
	border-radius: 5px;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}
#categoryEducation2-1:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryEducation/girl17.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categoryEducation2-2:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryEducation/businessman239.png");
	background-repeat: no-repeat;
	background-position: center center;
}
	
/* #categoryInstitution2 */
#categoryInstitution2-1,
#categoryInstitution2-2 {
	background-color: #fa6800;
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 15%;
	min-height: 80px;
	text-align: center;
	font-size: 150%;
	color: #f2f2f2;
	padding-top: 3%;
	padding-bottom: 2%;
	border-radius: 5px;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}
#categoryInstitution2-1:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryInstitution/building86.png");
	background-repeat: no-repeat;
	background-position: center center;
}
#categoryInstitution2-2:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryInstitution/policeman10.png");
	background-repeat: no-repeat;
	background-position: center center;
}

/* #categoryTransfer2 */
#categoryTransfer2-1 {
	background-color: #16499a;
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 15%;
	min-height: 80px;
	text-align: center;
	font-size: 150%;
	color: #f2f2f2;
	padding-top: 3%;
	padding-bottom: 2%;
	border-radius: 5px;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	-ms-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

#categoryTransfer2-1:HOVER {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #f2f2f2;
	background-image: url("../images/dest/category/categoryTransfer/subway1.png");
	background-repeat: no-repeat;
	background-position: center center;
}




















