/*커서 모양(손가락)*/

.menu_button {
  cursor: pointer;
}


/*map 안보이게*/

.map_hide {
  display: block;
}

.map_hide,
.map_hide1,
.map_hide2 {
  background-color: antiquewhite;
  min-width: 100px;
  max-width: 150px;
  height: 150px;
  margin-left: 9%;
}

.map_hide1,
.map_hide2 {
  display: none;
}

#stationMap {
  min-width: 100px;
  max-width: 150px;
  height: 150px;
}


/*버튼 스타일*/

.menu_button {
  min-width: 150px;
  max-width: 200px;
  display: block;
  margin-left: 9%;
  margin-bottom: 0%;
  padding: 1em 2em;
  border: none;
  position: relative;
  z-index: 1;
}


/*버튼안 글자 스타일*/

.menu_button > span {
  /*  vertical-align: middle;*/
}

.button--quidel {
  overflow: hidden;
}


/*기본 배경 색 & 글자 색*/

.button--quidel.button--inverted {
  background: #fff;
  color: #fff;
}


/*기본 배경 색 위치 설정 */

.button--quidel::before,
.button--quidel::after {
  content: '';
  position: absolute;
  z-index: -1;
}


/*배경위 박스 위치 스타일*/

.button--quidel::after {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}


/*버튼 박스 배경색 */

.button--quidel.button--inverted::after {
  background: red;
}


/*배경색 바뀌는 상세 스타일*/

.button--quidel::before {
  background: red;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}


/*바뀌는 배경색*/

.button--quidel.button--inverted::before {
  background: coral;
}


/*바뀌는 글자색 */

.button--quidel.button--inverted:hover {
  color: coral;
}


/*배경색이 다시 처음으로 돌아오는 */

.button--quidel:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
