/* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */

#css_tabs input:nth-of-type(1),
#css_tabs input:nth-of-type(1) ~ div:nth-of-type(1),
#css_tabs input:nth-of-type(2),
#css_tabs input:nth-of-type(2) ~ div:nth-of-type(2),
#css_tabs input:nth-of-type(3),
#css_tabs input:nth-of-type(3) ~ div:nth-of-type(3) {
  display: none
}

#css_tabs input:nth-of-type(1):checked ~ div:nth-of-type(1),
#css_tabs input:nth-of-type(2):checked ~ div:nth-of-type(2),
#css_tabs input:nth-of-type(3):checked ~ div:nth-of-type(3) {
  display: block
}


/* 라벨 기본 스타일 지정 */

#css_tabs > label {
  display: inline-block;
  /*    font-variant:small-caps;*/
  font-size: .9em;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
  width: auto;
  line-height: 1.5em;
  font-weight: 600;
  border-radius: 3px 3px 0 0;
  background: #eee;
  color: #777;
  border: 1px solid #ccc;
  border-width: 1px 1px 0;
}


/*커서 모양*/

#css_tabs > label:hover {
  cursor: pointer
}


/*첫번째 탭 위치*/

#css_tabs label[for=tab1] {
  margin-left: 1.5em
}


/* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */

#css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1),
#css_tabs > label[for=tab1]:hover {
  background: #ffa07a;
  color: #fff
}

#css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2),
#css_tabs > label[for=tab2]:hover {
  background: #20b2aa;
  color: #fff
}

#css_tabs input:nth-of-type(3):checked ~ label:nth-of-type(3),
#css_tabs > label[for=tab3]:hover {
  background: #87cefa;
  color: #fff
}


/* 실제 내용이 담긴 div 요소 스타일 지정 */

#css_tabs .tab1_content,
#css_tabs .tab2_content,
#css_tabs .tab3_content {
  padding: 2em;
  border: 1px solid #777;
  width: 80%;
  height: 700px;
  overflow: auto;
}