#content {
  /*  position: fixed;*/
  /*  margin-left: 240px;*/
  background-color: white;
  /*  border: 1px solid red;*/
  height: 540px;
  width: 80%;
  padding: 10px;
  float: left;
}

#seekContent {
  padding-top: 13px;
}

.seekBorder {
  border: 1px solid black;
}

.shopMap {
  border: 1px solid cornflowerblue;
  margin-top: 3px;
}

.shop {
  border: 1px solid cornflowerblue;
  margin-top: 10px;
  margin-right: 10px;
  height: 80px;
  width: 200px;
  float: left;
  overflow: hidden;
}

.shop:hover {
  border: 2px solid cornflowerblue;
}

img {
  width: 98%;
}