#btnFBLogin img {
	width: 30px;
	padding-right: 0px;
}

#btnFBLogin {
	padding: 1em;
}

#sideLoginForm {
	padding-top: 4em;
	padding-bottom: 1em;
}

#sideLoginInfo {
	padding-top: 1em;
}

#sideLoginInfo img {
	width: 100px;
	height: 100px;
}

#headUserImg {
	max-width: 20px;
	max-height: 20px;
}
