body {
  display: table;
  height: 100%;
  margin: 0;
}

#sidebar1 {
  position: fixed;
  float: left;
  width: 70px;
  height: 100%;
  text-align: center;
  background-color: #0059AB;
}

#sidebar2 {
  position: fixed;
  margin-left: 70px;
  text-align: center;
  background-color: #004C92;
  width: 14%;
  height: 100%;
}

#content {
  position: fixed;
  margin-left: 20%;
  background-color: white;
  width: 100%;
  height: 100%;
}

#side-profile {
  width: 50px;
  height: 50px;
}

#side-name {
  font-size: 13px;
  font-weight: 500;
  color:
}

#sidebar1,
#sidebar2 {
  color: white;
}

.sidebar2-title {
  font-size: 18px;
  font-weight: 700;
}

.side-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: white;
}

.side-main {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
}

.icon-border {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid white;
  margin: 10px;
  padding: 7px;
  margin-bottom: 17px;
}

.icon-border button {
  background: rgba(120, 120, 120, 0);
}

.circular {
  border-radius: 150px;
}

.side-main-area {
  margin-top: 10px;
}

.side-main-area a {
  text-decoration: none;
}

.side-main-area a:visited {
  color: white;
}

.side-main-area:hover {}

.side-myinfo-area {
  margin-top: 70px;
}

.side-icon-area {
  margin-top: 50px;
}

.sidebar2-title-area {
  display: table;
  vertical-align: middle;
  margin: 20px;
  margin-bottom: 5px;
}

.sidebar2-title-area img,
.sidebar2-title-area span {
  display: table-cell;
}

#sidebar2-content {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.sidebar2-item {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.hr {
  border: 1px solid white;
  margin-left: 9%;
  margin-right: 9%;
}

.sidebar2-item-title {
  font-size: 12px;
}

.spec-view-box {
  margin: 10px;
  background-color: white;
  color: black;
  text-align: left;
  padding: 10px;
}

.spec-content-view {
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  margin-right: 5%;
}

.sidebar2-content {
  display: inline-block;
}

.spec-view-box ul,
li {
  font-size: 12px;
}

b {
  text-decoration: underline
}

.icon-border:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}


/*-------------File Icon Definition --------------*/

.side-main {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white;
  -webkit-mask: url(../images/main_icon.png);
  -webkit-mask-size: 100% 100%;
}

.side-setting {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  -webkit-mask: url(../images/setting.png);
  -webkit-mask-size: 100% 100%;
}

.side-group {
  -webkit-mask: url(../images/group.svg);
  -webkit-mask-size: 100% 100%;
}

.side-dest {
  -webkit-mask: url(../images/dest_icon.png);
  -webkit-mask-size: 100% 100%;
}

.side-start {
  -webkit-mask: url(../images/start.svg);
  -webkit-mask-size: 100% 100%;
}

.side-result {
  -webkit-mask: url(../images/calculator.svg);
  -webkit-mask-size: 100% 100%;
}


/*-------------End of File Icon Definition -----------*/


/*-------------forien library ------------------------*/
