/* .option {
	float: left;
	border: 1px solid red;
}

#keyword {
  border: 1px solid dimgrey;
  color: black;
  width: 50%;
  font-size: 20px;
  float: left;
}

#start-search-place,
#start-search-my {
  float: left;

}
.button--nina > span {
	width: 30px;
} */
/*
.map_wrap,
.map_wrap * {
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
  font-size: 20px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}


 */






