/*demo에 있던 css*/


/*
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #000;
}


/* Icons created with icomoon.io/app */

.tabs {
  position: relative;
  width: 100%;
  /*overflow: hidden;*/
  /*  margin: 1em 0 2em;*/
  margin-top: 2em;
  /*  margin-left: 2em;*/
  /*  font-weight: 300;*/
}


/* Nav */

.tabs nav {
  text-align: center;
}

.tabs nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.tabs nav ul li {
  border: 1px solid #becbd2;
  border-bottom: none;
  margin: 0 0.25em;
  display: block;
  float: left;
  position: relative;
}

.tabs nav li.tab-current {
  border: 1px solid #47a3da;
  box-shadow: inset 0 2px #47a3da;
  border-bottom: none;
  z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
  content: '';
  position: absolute;
  height: 1px;
  right: 100%;
  bottom: 0;
  width: 1000px;
  background: #47a3da;
}

.tabs nav li.tab-current:after {
  overflow: hidden;
  right: auto;
  left: 100%;
  width: 500px;
}

.tabs nav a {
  color: #becbd2;
  display: block;
  font-size: 1.45em;
  line-height: 2.5;
  padding: 0 1.25em;
  /*  white-space: nowrap;*/
}

.tabs nav a:hover {
  color: #768e9d;
}

.tabs nav li.tab-current a {
  color: #47a3da;
}


/* result_content */

.result_content section {
  /*  font-size: 1.25em;*/
  /*  padding: 3em 1em;*/
  padding-top: 1.5em;
  padding-left: 0em;
  display: none;
  /*  max-width: 1230px;*/
  /*  margin: 0 auto;*/
}

.result_content section:before,
.result_content section:after {
  content: '';
  display: table;
}

.result_content section:after {
  clear: both;
}


/* Fallback example */

.no-js .result_content section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid #47a3da;
}

.result_content section.result_content-current {
  display: block;
}


/* Example media queries */

@media screen and (max-width: 52.375em) {
  .tabs nav a span {
    display: block;
  }
  /*    none로 하면 작아지면 안보임*/
  .tabs nav a:before {
    margin-right: 0;
  }
}

@media screen and (max-width: 32em) {
  .tabs nav ul,
  .tabs nav ul li a {
    width: 100%;
    padding: 0;
  }
  .tabs nav ul li {
    width: 20%;
    width: calc(20% + 1px);
    margin: 0 0 0 -1px;
  }
  .tabs nav ul li:last-child {
    border-right: none;
  }
}
