			.box-container {
				max-width: 840px;
				min-height: 300px;
				margin: 0 auto;
				clear: both;
			}
			
			.box-container h2 {
				text-align: center;
				padding: 0 1.5em;
				margin: 0;
				color: #afb3b8;
			}
			
			.box--collapser .box-container--large {
				min-height: 400px;
			}
			
			.box {
				width: 260px;
				height: 260px;
				margin: 10px;
				float: left;
				position: relative;
			}
			
			.box--collapser {
				-webkit-transition: -webkit-transform 0.15s, opacity 0.15s;
				transition: transform 0.15s, opacity 0.15s;
			}
			
			.box--collapser.box--close {
				opacity: 0;
				-webkit-transform: scale3d(0, 0, 1);
				transform: scale3d(0, 0, 1);
			}
			
			.box--expander.box--sizeup {
				width: 100%;
				height: 500px;
			}
			
			.trigger1 {
				background: none;
				color: #F5F5F5;
				border: none;
				width: 30px;
				height: 30px;
				line-height: 15px;
				position: absolute;
				right: 10%;
				top: 10.5%;
				outline: none;
				padding: 0;
				margin: 0;
			}
			
			.trigger {
				background: none;
				color: #F5F5F5;
				border: none;
				width: 30px;
				height: 30px;
				line-height: 15px;
				position: absolute;
				right: 80px;
				top: 10.5%;
				outline: none;
				padding: 0;
				margin: 0;
			}
			
			.trigger1 .fa-compress,
			.box--sizeup .fa-expand {
				display: none;
				position: absolute;
				right: 100%
			}
			
			.box--sizeup .trigger1 .fa-compress {
				display: inline-block;
				position: relative;
			}
			
			.box--sizeup .trigger .fa-close {
				display: inline-block;
				position: absolute;
				-webkit-transform: scale3d(0, 0, 1);
				transform: scale3d(0, 0, 1);
			}
			
			.morph-shape {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				-webkit-transition: -webkit-transform 0.1s ease-in-out;
				transition: transform 0.1s ease-in-out;
			}
			
			.drag-element--alt .morph-shape {
				-webkit-transition: -webkit-transform 0.05s ease-in;
				transition: transform 0.05s ease-in;
			}
			
			.morph-shape--color-2 svg path {
				fill: #EA5656;
			}
			
			.morph-shape--color-3 svg path {
				fill: #4E82E0;
			}
			
			.morph-shape--color-4 svg path {
				fill: #71CF84;
			}
			
			.overlay {
				position: absolute;
				background: rgba(100, 100, 100, 0);
				top: 30px;
				width: 80%;
				bottom: 45%;
				left: 30px;
				height: 78%;
			}
			
			.overlay1 {
				position: absolute;
				background: rgba(100, 100, 100, 0);
				top: 30px;
				width: 100%;
				bottom: 45%;
				left: 70px;
				height: 78%;
			}
			
			.element {
				position: absolute;
				color: white;
				font-weight: 800;
				font-size: 2em;
				text-align: center;
				width: 100%;
				bottom: 100px;
			}
			
			.element1 {
				position: absolute;
				color: white;
				font-weight: 800;
				font-size: 2em;
				text-align: center;
				width: 100%;
				bottom: 100px;
			}
			
			.element2 {
				position: absolute;
				color: white;
				bottom: 50%;
				font-size: 2em;
				left: 30%;
				display: none;
			}
			
			.modal1 {
				position: relative;
				background-color: #4E82E0;
				font-size: 3em;
				left: 69px;
				top: 69px;
			}